<div flex layout-fill layout-align="center center" layout="column">
  <h1 class="text-center">Munkavállalói<br>Vélemény Felmérés<br><span class="grey">ORO</span> - <span md-colors="{color:'accent-500'}">2017</span></h1>
  <md-button class="md-fab md-accent md-hue-2" aria-label="Start Survey" ng-click="vm.start()">
    <md-icon class="material-icons">record_voice_over</md-icon>
  </md-button>
  <div class="disclaimer">
    <p>By taking this survey... {bla bla bla}...</p>
    <p>Disclaimer text goes here</p>
    <p class="signo">HR department</p>
  </div>
</div>